#alarm {
    margin:0 auto;
    position: absolute;
    left: 0;
    top:0;
    display: none;
    width: 100%;
    height: 100%;
    /*background-color: #3b5998;*/
    z-index: 1;
}

#holder {
    margin: -50px -40px;
    width: 600px;
    position: relative;
}

#alarm span {
    font-family: "Lato", sans-serif;
    font-size: 200px;
    font-weight: normal;
    letter-spacing: -0.02em;
    color: #eeeeee;
    position: absolute;
    left: 184px;
    top: 190px;
}

.clock{
    /* The .clock div. Created dynamically by jQuery */
    background-color:#252525;
    height:200px;
    width:200px;
    position:relative;
    overflow:hidden;
    float:left;
}

.clock .rotate{
    /* There are two .rotate divs - one for each half of the background */
    position:absolute;
    width:200px;
    height:200px;
    top:0;
    left:0;
}

.rotate.right{
    display:none;
    z-index:11;
}

.clock .bg, .clock .front{
    width:100px;
    height:200px;
    background-color:#252525;
    position:absolute;
    top:0;
}

.clock .display{
    /* Holds the number of seconds, minutes or hours respectfully */
    position:absolute;
    width:200px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    z-index:20;
    color:#F5F5F5;
    font-size:60px;
    text-align:center;
    top:65px;
    left:0;

    /* CSS3 text shadow: */
    text-shadow:4px 4px 5px #333333;
}

/* The left part of the background: */

.clock .bg.left{ left:0; }

/* Individual styles for each color: */
.orange .bg.left{ background:url(../lib/images/bg_orange.png) no-repeat left top; }
.green .bg.left{ background:url(../lib/images/bg_green.png) no-repeat left top; }
.blue .bg.left{	background:url(../lib/images/bg_blue.png) no-repeat left top; }

/* The right part of the background: */
.clock .bg.right{ left:100px; }

.orange .bg.right{ background:url(../lib/images/bg_orange.png) no-repeat right top; }
.green .bg.right{ background:url(../lib/images/bg_green.png) no-repeat right top; }
.blue .bg.right{ background:url(../lib/images/bg_blue.png) no-repeat right top; }

.clock .front.left{
    left:0;
    z-index:10;
}


.hidden { display:none; }

.reveal .img-game {
    max-width: 100%;
    max-height: 100%;
}

.img-hide {
    opacity: 0;
}

.img-show {
    opacity: 1;
}

.game-canvas {
    position: absolute;
    z-index: 2;
}
.limit-height {
    max-height: 100%;
}